<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
            <%= post.title %>
      </title>
      <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
      <div class="container">
            <h2 class="mt-4">Post Details</h2>
            <div class="card mt-4">
                  <div class="card-header">
                        <b>Title:</b>
                        <%= post.title %>
                  </div>
                  <div class="card-body">
                        <b>Description:</b>
                        <p class="card-text">
                              <%= post.body %>
                        </p>
                  </div>
            </div>
            <h2 class="mt-4">Add a comment</h2>
            <form action="/comments/<%= post._id %>" method="POST">
                  <div class="form-group">
                        <div id="comment-editor"></div>
                        <textarea id="comment-body" name="body" style="display: none;"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Comment</button>
            </form>
            <ul class="list-group mt-4" id="commentsList">
                  <h2>Comments</h2>
                  <% comments.forEach(function(comment) { %>
                        <li class="list-group-item">
                              <%- comment.body %>
                        </li>
                        <% }); %>
            </ul>
      </div>

      <script>
            var quill = new Quill('#comment-editor', {
                  theme: 'snow',
                  placeholder: 'Start writing your comment...',
                  modules: {
                        toolbar: [
                              [{ 'header': [1, 2, false] }],
                              ['bold', 'italic', 'underline', 'link'],
                              [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                        ]
                  }
            });

            $('form').submit(function (event) {
                  var htmlContent = quill.root.innerHTML;
                  $('#comment-body').val(htmlContent);
            });
      </script>
</body>

</html>